.navigation_buttons_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.buttons_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.custom_habit_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}

.table_button {
    padding: 0.25rem;
    margin: 0.25rem
}

.container-fluid {
    padding-top: var(--pico-spacing);
}

:host,
:root {
    --pico-font-size: 100%;
}
